@mixin ring-outer($size) {
  position: relative;
  display: inline-block;

  @if $size == 'sm' {
    width: 16px;
    height: 16px;
  }

  @if $size == 'md' {
    width: 48px;
    height: 48px;
  }

  @if $size == 'lg' {
    width: 80px;
    height: 80px;
  }
}

@mixin ring-inner($size) {
  position: absolute;
  display: block;
  box-sizing: border-box;
  margin: 8px;
  border-color: $color-gray-300 transparent transparent;
  border-style: solid;
  border-radius: 50%;
  animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

  @if $size == 'sm' {
    width: 16px;
    height: 16px;
    margin: 0;
    border-width: 2px;
  }

  @if $size == 'md' {
    width: 32px;
    height: 32px;
    border-width: 4px;
  }

  @if $size == 'lg' {
    width: 64px;
    height: 64px;
    border-width: 6px;
  }

  &:first-of-type {
    animation-delay: -0.45s;
  }

  &:nth-of-type(2) {
    animation-delay: -0.3s;
  }

  &:last-of-type {
    animation-delay: -0.15s;
  }
}

.loader {
  @include flex($dir: column);

  .sm {
    @include ring-outer(sm);

    & div {
      @include ring-inner(sm);
    }
  }

  .md {
    @include ring-outer(md);

    & div {
      @include ring-inner(md);
    }
  }

  .lg {
    @include ring-outer(lg);

    & div {
      @include ring-inner(lg);
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
