%button {
  @include flex($gap: 8px);

  min-width: 2.5rem;
  height: 2.5rem;
  padding: var(#{$prefix}button-padding);
  font-weight: var(#{$prefix}button-font-weight);
  font-size: var(#{$prefix}body-font-size);
  font-family: var(#{$prefix}body-font-family);
  line-height: var(#{$prefix}button-line-height);
  letter-spacing: 0.5px;
  white-space: nowrap;
  border-radius: var(#{$prefix}button-border-radius);
  cursor: pointer;
  transition: var(#{$prefix}transition-base);
  user-select: none;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
  }

  &[data-loading]:hover {
    cursor: progress;
  }

  & svg {
    width: 1em;
    height: 1em;
  }
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}

@each $name, $color in $state-colors {
  .#{$name} {
    &.ghost {
      @extend %button;

      color: var(#{$prefix}color-#{$name});
      background-color: transparent;
      border: 1px solid transparent;

      @include hover {
        background-color: rgba($color, 0.12);
      }
    }

    &.solid {
      @extend %button;

      color: var(#{$prefix}color-light);
      background-color: var(#{$prefix}color-#{$name});
      border: 1px solid var(#{$prefix}color-#{$name});

      @if $name == 'info' or $name == 'warning' {
        color: var(#{$prefix}color-gray-900);
      }

      @include hover {
        background-color: var(#{$prefix}button-#{$name}-solid-hover);
      }
    }

    &.outline {
      @extend %button;

      color: var(#{$prefix}color-#{$name});
      background-color: transparent;
      border: 1px solid var(#{$prefix}color-#{$name});

      @include hover {
        color: var(#{$prefix}color-light);
        background-color: var(#{$prefix}color-#{$name});

        @if $name == 'info' or $name == 'warning' {
          color: var(#{$prefix}color-gray-900);
        }
      }
    }

    &.link {
      @extend %button;

      color: var(#{$prefix}color-#{$name});
      background-color: transparent;
      border: 1px solid transparent;

      @include hover {
        color: color.adjust($color, $saturation: 20%);
        text-decoration: underline;
      }
    }

    &.sm {
      min-width: 2rem;
      height: 2rem;
      font-size: var(#{$prefix}font-size-sm);
    }

    &.lg {
      min-width: 3rem;
      height: 3rem;
      font-size: var(#{$prefix}font-size-lg);
    }

    &.is-icon-button {
      padding: 0;

      & svg {
        width: 2em;
        height: 2em;
      }
    }
  }
}
