@use '../abstracts/' as *;

:root {
  @each $name, $value in $vars {
    --sp-#{$name}: #{$value};
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  color: $color-gray-900;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  font-family: $body-font-family;
  line-height: $body-line-height;
  background-color: $color-light;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: $color-dark;
  font-weight: $headings-font-weight;
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-weight: 600;
  font-size: 1rem;
}

code {
  font-family: $mono-font-family;
}

a,
ins,
u {
  text-decoration-skip: ink edges;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

label[for] {
  cursor: pointer;
}

input:read-only {
  cursor: default;
}

input:disabled,
textarea:disabled,
button:disabled,
option:disabled,
optgroup:disabled,
select:disabled {
  cursor: not-allowed;
}

abbr[title] {
  cursor: help;
}

img,
video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
