/* Colors
   ========================================================================== */
$color-primary: #805ad5 !default;

/**
 * Neutrals
 */
$color-dark: #101418 !default;
$color-light: #ffffff !default;
$color-gray-100: #f8f9fa !default;
$color-gray-200: #e9ecef !default;
$color-gray-300: #dee2e6 !default;
$color-gray-400: #ced4da !default;
$color-gray-500: #adb5bd !default;
$color-gray-600: #6c757d !default;
$color-gray-700: #495057 !default;
$color-gray-800: #343a40 !default;
$color-gray-900: #212529 !default;

/**
 * State colors
 */
$color-info: #0dcaf0 !default;
$color-success: #198754 !default;
$color-warning: #ffc107 !default;
$color-danger: #dc3545 !default;

/* Font
   ========================================================================== */
$base-font-family: -apple-system, system-ui, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif !default;
$body-font-weight: 400 !default;
$body-font-family: $base-font-family !default;
$body-font-size: 1rem !default;
$body-line-height: 1.5 !default;
$headings-font-weight: 500 !default;
$headings-font-family: $base-font-family !default;
$headings-line-height: 1.2 !default;
$mono-font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', 'Menlo', 'Courier', monospace !default;

/* Maps
   ========================================================================== */

/**
 * Variables
 */
$vars: (
  body-font-family: $body-font-family,
  body-font-weight: $body-font-weight,
  body-font-size: $body-font-size,
  body-line-height: $body-line-height,
  heading-font-family: $headings-font-family,
  headings-font-weight: $headings-font-weight,
  headings-line-height: $headings-line-height,
  mono-font: $mono-font-family,
  color-primary: $color-primary,
  color-dark: $color-dark,
  color-light: $color-light,
  color-info: $color-info,
  color-success: $color-success,
  color-warning: $color-warning,
  color-danger: $color-danger,
);

/**
 * State colors
 */
$state-colors: (
  info: $color-info,
  success: $color-success,
  warning: $color-warning,
  danger: $color-danger,
);
