// FONTS
$base-font-family: -apple-system, system-ui, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif !default;
$mono-font-family: 'SF Mono', 'Segoe UI Mono', 'Roboto Mono', 'Menlo', 'Courier', monospace !default;

// COLORS
$primary-color: #0066cc !default;

// neutrals colors
$dark-color: #1d1d1f !default;
$light-color: #ffffff !default;

// status colors
$info-color: #009ddc !default;
$success-color: #61bb46 !default;
$warning-color: #fdb827 !default;
$error-color: #e03a3e !default;
